---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="RAMDOLA website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 51, 102, 204;
    --accent-light: 102, 140, 217;
    --accent-dark: 38, 77, 153;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent-light)),
      rgb(var(--accent-dark)) 50%,
      grey 100%
    );
  }
  html {
    font-family: "Liberation Serif";
    background: #13151a;
  }
</style>
